.button-1ms {
  width: 76%;
  border: none;
  border-radius: 5px;
  padding: 17px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #220930;
  color: white;

  &:hover {
    background-color: #eaeaea;
  }
}