.input-field-1ms {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;

  & > .label {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 10px;
  }

  input {
    border: 2px solid #eaeaea;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    transition: all 0.3s ease-in-out;

    &:focus {
      border-color: blue;
      box-shadow: 0 0 5px blue;
    }

    &.error {
      border-color: red;
      box-shadow: 0 0 5px red;
    }

    &.success {
      border-color: green;
      box-shadow: 0 0 5px green;
    }
  }
}