@import "../../common/styles/input.scss";

.details-form-1ms {
  max-width: 400px;
  // border: 2px solid black;
  height: fit-content;

  input {
    @include input;
  }

  & > .form-group {
    margin-bottom: 25px;
  }
  
  & > .flex-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    & > .exp-date {
      
      input {
        width: 40%;
        margin-right: 10px;
      }
    }
  }

  & > .confirm-btn, .save-btn {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 17px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: #220930;
    color: white;
  
    &:hover {
      background-color: #9050b6;
    }
  }

  & > .save-btn {
    margin-top: 10px;

    &:hover {
      background-color: #9050b6;
    }
  }
}

