.app-1hj {
  width: 100%;
  position: relative;

  & > .color-area {
    img {
      content: url("./assets/bg-main-mobile.png");
      width: 100%;
    }
  }

  & > .back-card {
    //position: absolute;
    //top: 40px;
    //right: 20px;
  }

  & > .front-card {
    position: absolute;
    top: 153px;
    left: 20px;
  }

  & > .details-form {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
  }

  & > .list-saved-cards {
    position: absolute;

  }

  @media screen and (min-width: 640px) {
    display: flex;
    flex-direction: row;

    & > .color-area {
      width: 36%;
      
      img {
        content: url("./assets/bg-main-desktop.png");
        width: 100%;
        height: 100vh;
      }
    }

    & > .back-card {
      position: absolute;
      top: 50%;
      left: unset;
      right: calc(100% - 36%);
      transform: translate(146px,10px);
      
    }
  
    & > .front-card {
      position: absolute;
      //position: static;
      top: unset;
      left: unset;
      right: calc(100% - 36%);
      bottom: 50%;
      transform: translate(80px,-10px);
    }
  
    & > .details-form {
      margin: auto;
    }

    & > .list-saved-cards, .no-saved-cards {
      position: absolute;
      right: calc((100% - 36%)/2);
      bottom: 20%;
      transform: translate(80px,-10px);

      & > .saved-card {
        border: 3px solid black;
        border-radius: 10px;
        padding: 20px;
        width: fit-content;
        height: fit-content;
        margin-bottom: 20px;
      }

      & > .valid {
        border-color: rgb(17, 190, 40);
      }

      & > .invalid {
        border-color: rgb(202, 5, 5);
      }
    }
  }
}
