.app-1hj {
  width: 100%;
  position: relative;

  & > .color-area {
    img {
      content: url("./assets/bg-main-mobile.png");
      width: 100%;
      height: 360px;
    }
  }

  & > .back-card {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-30%);
  }

  & > .front-card {
    position: absolute;
    top: 153px;
    right: 50%;
    transform: translateX(30%);
  }

  & > .details-form-and-list {

    & > .details-form {
      margin-top: 70px;
      display: flex;
      justify-content: center;
    }

    & > .list-saved-cards {
      margin-top: 70px;
      display: flex;
      justify-content: center;

    }
  }

  

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;

    & > .color-area {
      width: 36%;
      
      img {
        content: url("./assets/bg-main-desktop.png");
        width: 100%;
        height: 100%;
      }
    }

    & > .back-card {
      position: absolute;
      top: 50%;
      left: unset;
      right: calc(100% - 36%);
      transform: translate(146px,10px);
      
    }
  
    & > .front-card {
      position: absolute;
      //position: static;
      top: unset;
      right: calc(100% - 36%);
      bottom: 50%;
      transform: translate(80px,-10px);
    }
  

    & > .details-form-and-list {
      margin-left: auto;
      margin-right: auto;

      & > .list-saved-cards {
        margin-top: 70px;
        display: block;
        justify-content: unset;
      }
    }
  }
}
